body {background-color: #F2F2F2	;color: black;}
.container {max-width: 90vw;}
/*.b {background-color: #034a2f;}*/
.a {height: 79vh;}

.navbar {
	background-color: black !important;
	box-shadow: 0 4px 8px  rgba(0,0,0,.69);
}

/* #211C42 purple // light purple #9F7AEA

border  #034a2f
h1  #99b89
bg #011910

 */

.jumbotron1 {
	background: url("../img/showcase3.jpg");
	/*background-color: #011910;*/
	height: 55vh;
	padding-top: 20vh;
	border-radius: 0px;

	background-size: cover;
	background-repeat: no-repeat;

	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}

.jumbotron1 h1 {
	color: black;
}


/* */
.btn-primary {
	border-color: black !important;
	background-color: black !important;
	box-shadow: 0 4px 8px  rgba(0,0,0,.69);
}

.btn-primary:hover {
	background-color: #F2F2F2 !important;
	color:  black !important;
	border: 1.5px black solid !important;
}


/* */
.card {
	background-color: transparent;
	border: 2px black solid;
	box-shadow: 0 2px 10px  rgba(0,0,0,.69);
	transition: .4s;
}
.card-title {
	color: black;
}

.card:hover {
	top: -5px;
	box-shadow: 0 8px 15px  rgba(0,0,0,.69);
}



/* *//* */
.cjumbotron {
	background-color: transparent;
	border: 3px black solid;
	padding: 50px;
	box-shadow: 0 2px 10px  rgba(0,0,0,.69);
}

.cjumbotron h2{
	color: #99b898;
}

.ujumbotron {
	background-color: transparent;
	border: 2px black solid;
	padding: 50px;
	box-shadow: 0 2px 10px  rgba(0,0,0,.69);
}

.ujumbotron h5 {
	color: #99b898;
}

.ujumbotron span {
	color: white;
}

/* *//* */


/* */

#registerUser input,
#logInUser input {
	border: 0px;
	outline: 0px;
	border-bottom: 2px solid black;
	border-radius: 0;
	background: transparent;
	color: black;
}

.form-group input {
	border: 0px;
	outline: 0px;
	border-bottom: 2px solid black;
	border-radius: 0;
	background: transparent;
	color: black;
}

::placeholder{
	color: black !important;
}

#logInUser a {
	color: black !important;
}

.jumbotronl {
	background-color: transparent !important;
}









/* */

.footer {
	background-color: black !important;
}